@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@700&family=Lato&family=Montserrat&family=Noto+Sans:wght@700&family=Nunito:wght@700&family=Outfit:wght@700&family=PT+Sans&family=Padauk:wght@700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#scroll{
/* position: absolute;
    left:30%;
    top:20%;
    right: 20%;
     */
     /* border: 1px solid red; */
     display: flex;
     justify-content: center;
     font-family: 'Alegreya Sans', sans-serif;
}
h1 {
    color: rgb(70, 70, 255);
    /* color: #224581; */
}
#tsize {
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
}
#technival img {
    /* border: 1px solid red; */
    height: 8rem;
    position: relative;
    right: 5rem;
    top: 0.5rem;
    filter: invert(100%);
}
#leftside
{
    height: 15%;
    /* background-color: #1788cc; */
    background-color: #224581;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    overflow-wrap: normal;
    width: 100%;
}
#xyz
{ height: 100vh;
}
#rightside
{
    height: 100%;
    overflow: auto;
}

.head2
{
    margin-top:1em ;
    font-weight: bold;
    font-size:170%;
    font-family: Roboto, Helvetica, sans-serif;
    
    
}
.head1
{

    font-weight: bold;
    font-size:200%;
    font-family: Roboto, Helvetica, sans-serif;
    
    
}
h3{
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: lighter;
    color: grey;
    padding-left: 0.5%;
    padding-top: 3px;

}

.labels
{
    color: black;
    font-size: 100%;
    font-family: Roboto, Helvetica, sans-serif;   
}
.box
{
    padding-top: 7%;
padding-bottom: 7%;
}

#memberdetail,#but
{
    margin-top: 5%;
    margin-bottom: 5%;
}
.det
{
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    position: relative;
    top: 50%;
}
.mem
{
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    text-align: center;
}
/* #logo{
    height: 20%;
    width: auto;
    padding-top: 2.5%;
    padding-left: 2vw;

} */
#tech
{
    height: 12%;
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    right: 7%;
    margin-left: 10vw;
}

@media only screen and (max-width: 800px) {
    #leftside
    {
        height: 20%;
        width: 100vw;
    }
    #scroll
    {
        left:5%;
        top: 23%;
        right: 5%;
        
    }
   
    #logo {
        height: 60%;
    }
    #tech {
        height: 25%;
    }
    #component-helper-text {
        color: red;
        margin-left: 1.5%;
        margin-top: -9.5%;
    }
    #leftside {
        height: 10%;
    }
    .memberdiv {
        padding-left: 4.7%;
    }
   
}
@media only screen and (min-width: 800px)
{
    .media
    {
        display:none;
    }
    #logo {
        height: 55%;
    }
    #tech {
        height: 23%;
    }
    #component-helper-text {
        margin-top: -4%;
        color: red;
        margin-left: 1%;
    }
    .memberdiv {
        padding-left: 2.5%;
    }
}

.memberdiv {
    border-radius: 11px;
    justify-content: center;
    margin-bottom: 7%;
    box-shadow: 0 10px 10px hsl(0deg 0% 59% / 80%);
}
@media(max-width: 550px) {
    #tsize {
        flex-direction: column;
    }
    #technival img {
        /* border: 1px solid red; */
        height: 5rem;
        position: relative;
        right: 3rem;
        top: 0.5rem;
        filter: invert(100%);
    }
}