* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#scroll{
/* position: absolute;
    left:45%;
    top:20%;
    right: 20%; */
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rebeccapurple; */
    /* width: fit-content;
    margin: auto; */
}
.progressBar {
    /* padding: 5rem; */
    margin-top: 1rem;
    color: #0A6498;
}
.item-time {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    padding: 2rem;
}
#para-time {
    /* border: 1px solid red; */
    position: relative;
    left: 1rem;
}
.progressBar h2 {
    position: relative;
    top: 1.4rem;
}
#pro {
    /* border: 1px solid red; */
    /* width: fit-content; */
    margin-top: 4rem;
    height: 30rem;
}
.para {
    position: relative;
    right: 1.8rem;
    /* border: 1px solid red; */
}
#time1 {
    position: relative;
    left: 0.5rem;
}
#time2 {
    position: relative;
    right: 0.8rem;
}
#active {
    background-color: #1788cc;
    position: relative;
    left: 0.4rem;
}
.time {
    border: 1px solid #0A6498;
    width: fit-content;
    margin: auto;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}
.timeP {
    position: relative;
    top: 1rem;
}
#leftside
{
    height: 15%;
    background-color: #1788cc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    overflow-wrap: normal;

}
.box {
    /* border: 1px solid red; */
}
#tsize {
    /* border: 1px solid red; */
    display: flex;
    
}
.select-team {
    /* border: 1px solid red; */
    margin-right: 1rem;
}
#xyz
{ height: 100vh;
}
#rightside
{
    height: 100%;
    overflow: auto;
}

.head2
{
    margin-top:1em ;
    font-weight: bold;
    font-size:170%;
    font-family: Roboto, Helvetica, sans-serif;
    
}
.head1
{

    font-weight: bold;
    font-size:200%;
    font-family: Roboto, Helvetica, sans-serif;

}
h3{
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: lighter;
    color: grey;
    padding-left: 0.5%;
    padding-top: 3px;

}

.labels
{
    color: black;
    font-size: 100%;
    font-family: Roboto, Helvetica, sans-serif;   
}
.box
{
    padding-top: 7%;
padding-bottom: 7%;
}

#memberdetail,#but
{
    margin-top: 5%;
    margin-bottom: 5%;
}
.det
{
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    position: relative;
    top: 50%;
}
.mem
{
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}
/* #logo{
    height: 20%;
    width: auto;
    padding-top: 2.5%;
    padding-left: 2vw;

} */
#tech
{
    height: 12%;
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    right: 7%;
    margin-left: 10vw;
}

@media only screen and (max-width: 800px) {
    #leftside
    {
        height: 20%;
        width: 100vw;
    }
    #scroll
    {
        left:5%;
        top: 23%;
        right: 5%;
        
    }
   
    #logo {
        height: 36%;
    }
    #tech {
        height: 15%;
    }
   
}
@media only screen and (min-width: 800px)
{
    .media
    {
        display:none;
    }
    #logo {
        height: 55%;
    }
    #tech {
        height: 23%;
    }
}
@media(max-width: 900px) {
    .progressBar {
        display: none;
    }
}